body {
    /*background-color: #FFFFFF;
    background-color: purple;*/
    grid-template-rows: 240px 1fr;
    display: grid;
}

#navbar {
    /*background-color: #F8F8F8;*/
    /*position: fixed;*/
    background-color: green;
    padding: 10px;
    grid-row: 1 / 2;
    border-style: solid;
    border-width: 2px;
}

.class-link {
    background-color: pink;
}

#main-doc {
    /*background-color: #F8F8F8;*/
    background-color: lightskyblue;
    padding: 10px;
    border-style: solid;
}

.code {
    background-color: #F8F8F8;
    padding: 10px;
    align-content: center;
}

@media screen and (min-width: 1440px) {
    body {
        /*background-color: #FFFFFF;*/
        grid-template-columns: 1fr 4fr;
        display: grid; 
    }

    #navbar {
        grid-column: 1 / 2;
    }

    #main-doc {
        grid-column: 2 / 3;
    }

}