body {
    /*background-color: #FFFFFF;
    background-color: purple;*/
    font-family: 'Montserrat', sans-serif;
    grid-template-rows: 240px 1fr;
    display: grid;
}

#navbar {
    /*background-color: #F8F8F8;*/
    font-family: 'K2D', sans-serif;
    font-size: 15px;
    position: relative;
    top: 0;
    background-color: white;
    padding: 10px;
    grid-row: 1 / 2;
    /*border-style: solid;
    border-width: 1px;*/
}

.class-link {
    background-color: pink;
}

#main-doc {
    /*background-color: #F8F8F8;*/
    grid-row: 2 / 3;
    background-color: white;
    padding: 10px;
}

.pre {
    background-color: #F8F8F8;
    padding: 5px;
    align-content: center;
}

.github {
    background-color: gainsboro;
    align-content: center;
}

@media screen and (min-width: 1440px) {
    body {
        /*background-color: #FFFFFF;*/
        grid-template-columns: 1fr 4fr;
        display: grid; 
    }

    #navbar {
        grid-column: 1 / 2;
    }

    #main-doc {
        grid-column: 2 / 3;
    }

}